<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Biblioteka domowa - dodaj książkę</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/styles.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <header class="box">
        <a href="{% url 'index' %}">
          <div class="logo"><span>Biblioteka</span>Domowa<span>.pl</span></div>
        </a>
        <ul>
          <a href="{% url 'index' %}">Strona główna</a>
          <a href="{% url 'category_list' %}">Kategorie</a>
          <a href="{% url 'borrower_list' %}">Czytelnicy</a>
        </ul>
      </header>

      <div class="box">
        <h3>Dodaj nową książkę:</h3>
        <form method="post">
          {% csrf_token %}
          <label>Tytuł książki:</label>
          <input type="text" name="title" required /><br />
          <label>Autor:</label>
          <input type="text" name="author" required /><br />
          <label>Rok wydania:</label>
          <input type="number" name="publication_year" required /><br />
          <label>Wypożyczający:</label>
          <select name="borrower">
            <option value="">Brak</option>
            {% for borrower in borrowers %}
            <option value="{{ borrower.id }}">{{ borrower.name }}</option>
            {% endfor %}</select
          ><br />
          <label>Kategoria:</label>
          <select name="category">
            <option value="">Brak</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}</select
          ><br />
          <button type="submit">Zapisz</button>
        </form>
      </div>

      <footer class="box">
        <h5><span>© 2025 Biblioteka Domowa</span> - wykonała Marika Kuczyńska</h5>
      </footer>
    </div>
  </body>
</html>
