<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Czytelnicy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/styles.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <header class="box">
        <a href="{% url 'index' %}">
          <div class="logo"><span>Biblioteka</span>Domowa<span>.pl</span></div>
        </a>
        <ul>
          <a href="{% url 'index' %}">Strona główna</a>
          <a href="{% url 'category_list' %}">Kategorie</a>
          <a href="{% url 'borrower_list' %}">Czytelnicy</a>
        </ul>
      </header>

      <div class="box">
        <h3>Czytelnicy:</h3>
        <table class="borrower-table">
          <thead>
            <tr>
              <th>Imię i nazwisko</th>
              <th>Email</th>
              <th>Akcje</th>
            </tr>
          </thead>
          <tbody>
            {% for borrower in borrowers %}
            <tr>
              <td>{{ borrower.name }}</td>
              <td>{{ borrower.email }}</td>
              <td>
                <a href="{% url 'edit_borrower' borrower.id %}">
                  <button>Edytuj</button>
                </a>
                <a href="{% url 'delete_borrower' borrower.id %}">
                  <button class="c-red">Usuń</button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'add_borrower' %}">
          <button>Dodaj nowego wypożyczającego</button>
        </a>
      </div>
      <footer class="box">
        <h5><span>© 2025 Biblioteka Domowa</span> - wykonała Marika Kuczyńska</h5>
      </footer>
    </div>
  </body>
</html>
